header {
    background-color: #222;
    height: 60px;
    color: #ccc;
}

@font-face {
    font-family: Objective;
    src: local(Objective-Regular), url(/path/to/Objective-Regular.woff2) format("woff2"), url(/path/to/Objective-Regular.woff) format("woff"), url(/path/to/Objective-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: OpenSans;
    src: local(OpenSans), url(/path/to/OpenSans.woff2) format("woff2"), url(/path/to/OpenSans.woff) format("woff"), url(/path/to/OpenSans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: OpenSans;
    src: local(OpenSans-Light), url(/path/to/OpenSans-Light.woff2) format("woff2"), url(/path/to/OpenSans-Light.woff) format("woff"), url(/path/to/OpenSans-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: OpenSans;
    src: local(OpenSans-Bold), url(/path/to/OpenSans-Bold.woff2) format("woff2"), url(/path/to/OpenSans-Bold.woff) format("woff"), url(/path/to/OpenSans-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

body {
    font-size: 17px;
}

.header {
    background-color: #000;
    background-size: cover;
    height: 80px;
}

.logo {
    width: 175px;
}

.login-button {
    background-color: #e00c00;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: 'MontSerrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 6px 15px;
}

.hero {
    background-image: url('https://rapido-mkt.s3.us-east-2.amazonaws.com/assets/valentines-day/hero%20desktop.png');
    background-size: cover;
    height: 100%;
    background-position: center right;
    margin-top: -10px;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: left;
    line-height: 0.9;
    padding-top: 15px;
}

.dia {
    font-size: 8em;
    font-weight: bold;
}

.dos {
    font-size: 2.5em;
    font-weight: 300;
}

.namo {
    font-size: 4em;
    font-weight: bold;
    margin-left: 35px;
}

.rados {
    font-size: 3.7em;
    font-weight: bold;
    margin-left: 50px;
}

.otima {
    font-size: 1.5em;
    font-weight: 300;
    margin-left: 40px;
}

.companhia {
    font-size: 3em;
    font-weight: 300;
    margin-left: 52px;
}

.arrow {
    margin-top: 50px;
    margin: auto;
    display: none;
}

.discount-wrapper {
    padding: 3% 8%;
}

.discount {
    background-image: url('https://rapido-mkt.s3.us-east-2.amazonaws.com/assets/valentines-day/bgnovo.jpg');
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
}

.cupom-wrapper {
    border: 0.5px solid #fff;
    width: 65%;
    min-width: 180px;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 25px;
}

.title-people-mobile {
    display: none;
}

.logo-footer {

        max-width: 150px;
        display:none;
    }


.texto-cupom {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: #fff;
    border-bottom: 0.5px solid #fff;
    padding: 10px 0;
    text-align: center;
}

.link-footer {
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.link-footer:active {
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.foot {
    background-color: #000;
    padding: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.cupom {
    background-image: url('https://rapido-mkt.s3.us-east-2.amazonaws.com/assets/valentines-day/cupom%20novo.png');
    height: 222px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.codigo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
}

.copiar-container {
    width: 25%;
}

.copiar {
    transform: rotate(-90deg);
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5em;
    position: relative;

    border: none !important;
    background-color: transparent;
    color: #fff;
    top:-74px;
    left: 296px;
}

.resgatar-button {
    background-color: #e00c00;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: 'MontSerrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 6px 47px;
    text-align: center;
}

.registrar-button {
    background-color: #e00c00;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: 'MontSerrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 6px 47px;
    text-align: center;
    max-width: 180px;
}

.texto-people {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 22px;
    margin-top: 1em;
}
.gpl {
    max-width:200px;
}
.gpl-2 {
    max-width:150px;
    margin-left:-10px;
}
.texto2-wrapper {
    margin-top: 3em;
}

.title-people {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e00d00;
    font-size: 22px;
}

.users-headline {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e00d00;
    font-size: 22px;
}
.grid-ppl {
    width: calc(33.33% - 3px);
    margin-bottom: 3px;
    max-height:225px;
}

.grid-wrapper {
    max-width:330px;
}
.cloud {
   width:calc(100% - 4px);
   max-width:400px;
}
a:active {
    text-decoration:none;
    color:#fff;
    background-color:#e00d00;
}
a:hover {
    text-decoration:none;
    color:#fff;
    background-color:#b31114;
}

footer a:hover {
  background-color:#000;
}
.texto {
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: normal;
}

.icones-footer {
    margin: 0;
    display: block;
    width: 150px;
}

.divider {
    display: none;
}

.gplay-mbl {
    display: none;
}

.icones-footer-mobile {
    display: none;
}

.gpl {
    margin-left: -7px;
}

.icones {
    width:24px;
    margin-left:7px;
}
.logo-footer-dkt {
   width:175px;
   margin-bottom:15px;
}

@media only screen and (max-width: 767px) {
    .logo-footer {
        display:block;
        width:150px;
        margin:auto;
    }
 
    body {
        font-size: 9px;
    }
    .hero {
        background-image: url('https://rapido-mkt.s3.us-east-2.amazonaws.com/assets/valentines-day/hero%20mobile%20valentines.png');
        background-position: top center;
    }
    .hero-text {
        padding-top: 60px;
    }
    .arrow {
        display: block;
    }
    .headline {
        font-size: 2em;
        padding: 0px 15px;
        margin:auto;
    }

    .discount-wrapper {
        padding: 5%;
    }
    .cupom-wrapper {
        top: 16px;
        left: 20px;
    }
    .headline-wrapper {
        width: 100%;
    }
    .cupom {
        height: 146px;
        width: 270px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 20px;
        padding: 0;
    }
    .copiar {
        top: -60px;
        left: 200px;
    }
    .texto-cupom {
        font-size: 1.5em;
    }
    .codigo {
        font-size: 2em;
        padding: 25px 0;
    }
    .users-headline {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #e00d00;
        font-size: 22px;
        position: relative;
        top: -20px;
    }
 
 
    .section-grid {
        margin-top: 29px;
    }
   
    .title-people-mobile {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #e00d00;
        font-size: 22px;
        padding: 15px;
    }
    .title-people {
        display: none !important;
    }
    .texto-people {
        text-align: center;
    }
    .gplay {
        display: none;
    }
    .text-footer-2 {
        margin-top: 10px;
    }
    .gplay-mbl {
        max-width: 90px;
        margin: auto;
        display: block
    }
    .icones-footer-mobile {
        display: block;
        margin: auto;
        padding:10px;
    }
    .icones-footer {
        display: none;
    }
  .logo-footer-dkt {
     display:none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cupom-wrapper {
        top: 30px;
        left: 25px;
    }


.icones {
    width:25px;
    margin-left:7px;
}
    .cupom {
        height: 190px;
        width: 342px;
    }
    .codigo {
        padding: 20px 0;
    }
    .copiar {
        top: -60px;
        left: 240px;
    }
    .headline-wrapper {
        font-size: 16px;
    }
    .headline {
        font-size: 1.5em;
    }
    .cloud {
        max-width: 380px;
    }
}

